<h2><%= t("devise.passwords.reset_password") %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <%= f.label :password %>
  <%= f.password_field :password %><br /><br />
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br /><br />
  <%= f.submit t("devise.passwords.reset_password") %><br /><br />
<% end %>

<%= render :partial => "devise/shared/links" %>